<ion-header>
  <ion-toolbar mode="ios">
    <ion-title>Detalhes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-thumbnail>
      <img alt="Silhouette of mountains" [src]="product.picture" />
    </ion-thumbnail>
    <ion-item>
      <ion-label position="floating" class="ion-text-wrap">
        Nome
      </ion-label>
      <ion-input type="text" [(ngModel)]="product.name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" class="ion-text-wrap">
        Descrição
      </ion-label>
      <ion-textarea rows="3" type="text" [(ngModel)]="product.description"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label position="floating" class="ion-text-wrap">
        Foto
      </ion-label>
      <ion-input type="text" [(ngModel)]="product.picture"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" class="ion-text-wrap">
        Preço
      </ion-label>
      <ion-input type="text" [(ngModel)]="product.price"></ion-input>
    </ion-item>
    <ion-button (click)="save()" shape="round">
      <ion-icon slot="icon-only" name="checkmark">
      </ion-icon>
    </ion-button>
  </ion-list>

  <ion-fab class="item" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-buttons>
        <ion-back-button color="light" defaultHref="/dashboard" title="Ir à tela principal" routerDirection="auto">
        </ion-back-button>
      </ion-buttons>
    </ion-fab-button>
  </ion-fab>
</ion-content>