<ion-content class="swiper-no-swiping">
  <div class="container top" [hidden]="keyboard.isVisible"> <!-- [hidden]="keyboard.isVisible" -->
    <img src="../../../assets/imgs/logo.png">

    <ion-segment (ionChange)="segmentChanged($event)" mode="ios" value="login">
      <ion-segment-button mode="ios" value="login">
        <ion-label>Login</ion-label>
      </ion-segment-button>
      <ion-segment-button mode="ios" value="register">
        <ion-label>Cadastro</ion-label>
      </ion-segment-button>
    </ion-segment>
  </div>

  <ion-slides mode="ios" pager="ios" scrollbar="ios">
    <ion-slide>
      <div class="slide-inner ion-padding">
        <span>Login</span>

        <ion-item class="ion-margin-top" lines="none">
          <ion-input type="email" placeholder="Email" required [(ngModel)]="userLogin.email"></ion-input>
          <!-- [(ngModel)]="userLogin.email" [(ngModel)]="userLogin.password" -->
        </ion-item>

        <ion-item class="ion-margin-top" lines="none">
          <ion-input type="password" placeholder="Senha" required [(ngModel)]="userLogin.password"></ion-input>
        </ion-item>

        <ion-button class="ion-margin-top" (click)="login()" color="light" expand="block">
          Entrar
        </ion-button>
        <ion-text color="dark">
          <p>Não tem conta? Vá em Cadastro.
          </p> <!-- <ion-icon name="arrow-forward"></ion-icon> -->
        </ion-text>
      </div>
    </ion-slide>

    <ion-slide>
      <div class="slide-inner ion-padding">
        <span>Cadastro</span>

        <ion-item class="ion-margin-top" lines="none">
          <ion-input type="text" placeholder="Nome"></ion-input>
        </ion-item>

        <ion-item class="ion-margin-top" lines="none">
          <ion-input type="email" placeholder="E-mail" required [(ngModel)]="userRegister.email">
            <!-- [(ngModel)]="userRegister.email" -->
          </ion-input>
        </ion-item>

        <ion-item class="ion-margin-top" lines="none">
          <ion-input type="password" placeholder="Senha" required [(ngModel)]="userRegister.password">
            <!-- [(ngModel)]="userRegister.password" -->
          </ion-input>
        </ion-item>

        <ion-button class="ion-margin-top" (click)="register()" color="light" expand="block">
          Cadastrar
        </ion-button>

        <ion-text color="dark">
          <p>Já tem cadastro? Entre em login.
          </p>
        </ion-text>
      </div>
    </ion-slide>
  </ion-slides>

  <div class="ocean">
    <div class="waves" [ngStyle]="{'background-position-x': wavesPosition + 'px'}"></div>

    <div class="container bottom ion-text-center" [hidden]="keyboard.isVisible">
      <span>O aplicativo gereciamento de produtos de lojas de surf e outros itens.</span>
    </div>
  </div>
</ion-content>