<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">{{title}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logout()" slot="start">
        <ion-icon slot="icon-only" name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content mode="md">
  <ion-list *ngIf="!products.length">
    <ion-item *ngFor="let item of [0, 1, 2]">
      <ion-avatar slot="start">
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-avatar>
      <ion-label>
        <h3>
          <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
        </h3>
        <p>
          <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
        </p>
        <p>
          <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item-sliding *ngFor="let product of products">
      <ion-item>
        <ion-avatar slot="start">
          <img [src]="product.picture" alt="Imagem">
        </ion-avatar>

        <ion-label>
          {{ product.name }}
          <p>{{ product.description }}</p>
          <p>{{ product.createdAt | date: 'short' }}</p>
        </ion-label>

        <ion-note color="primary" slot="end" *ngIf="product.price">
          <h5>{{ product.price | currency: 'BRL' }}</h5>
        </ion-note>
      </ion-item>

      <ion-item-options side="end">
        <ion-item-option color="danger" (click)="deleteProduct(product)">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-item-option>
        <ion-item-option button color="success" [routerLink]="['/details', product.id]">
          <ion-icon slot="icon-only" name="eye"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="/details">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-title class="ion-text-center">Saldo: {{ itemsTotal }} </ion-title>
  </ion-toolbar>
</ion-footer>